@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.sticky-top {
  background-color: var(--bs-dark) !important;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.nav-logo {
  width: 150px;
}

.fa-stack.nav-icon {
  font-size: 16px;
}

.header {
  min-height: 1000px;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/header-background.jpg") center center no-repeat;
  background-size: cover;
}

#headerCarousel {
  width: 70%;
  margin: 0 auto;
}

.invitation-container {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/invitation-background.jpg") center center no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .navbar {
    background-color: var(--bs-dark) !important;
  }
  .header h1 {
    font-size: 3.5rem !important;
  }
  #headerCarousel {
    width: 90%;
    margin: 0 auto;
  }
  .summary {
    width: 90% !important;
  }
}
@media (max-width: 600px) {
  .header h1 {
    font-size: 3rem !important;
  }
}
