.xl-text {
  font-size: 75px;
}

.btn-outline-secondary:hover {
  color: #fff !important;
}

.navbar-sticky {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.to-top-btn.show-btn {
  opacity: 1;
}

.navbar {
  transition: all 0.3s ease-in-out;
}

.decoration-star {
  width: 500px;
  top: 0;
  opacity: 0.7;
}

.decoration-star-1 {
  left: -200px;
}

.decoration-star-2 {
  right: -200px;
}

.header .decoration-star {
  top: 80px;
}

.contact .decoration-star {
  width: 600px;
  top: 0;
}

.contact .decoration-star-1 {
  left: -300px;
}

.to-top-btn {
  position: fixed;
  z-index: 10;
  right: 2rem;
  bottom: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0;
  display: grid;
  place-items: center;
  padding-top: 2px;
  font-size: 1.3rem;
  background-color: var(--bs-body-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: backgroundColor 0.3s ease-in-out;
}
.to-top-btn:hover {
  background-color: var(--bs-primary);
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }
  .header .decoration-star {
    width: 250px;
  }
  .header .decoration-star-1 {
    left: -100px;
  }
  .header .decoration-star-2 {
    right: -100px;
  }
  .header .text-container {
    text-align: center;
  }
  .details-2 .decoration-star {
    top: 320px;
  }
  .service {
    border-bottom: 1px solid #ccc;
  }
}
